<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933026958246-114r025ddpso425imu4olj6tfkg5nak0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933026958246-114r025ddpso425imu4olj6tfkg5nak0</string>
	<key>API_KEY</key>
	<string>AIzaSyDCHZdzX-DK5z9e2nEQSYWUPY_3v5GW8q4</string>
	<key>GCM_SENDER_ID</key>
	<string>933026958246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chat.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ab136</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ab136.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933026958246:ios:c8dd188b3c38a559e25d67</string>
</dict>
</plist>